APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_RETENTION_DAYS=90

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NETBOX_BASE_URL=
NETBOX_CLIENT_ID=
NETBOX_API_TOKEN=
NETBOX_WEBHOOK_SECRET=

DHCP_URL=
DHCP_CLIENT_ID=

MIST_TOKEN=
MIST_BASE_URL=
MIST_ORG_ID=
MIST_LOCAL_ADMIN_USERNAME=
MIST_LOCAL_ADMIN_PASSWORD=
MIST_RF_TEMPLATE_ID=
MIST_NETWORK_TEMPLATE_ID=
MIST_GATEWAY_TEMPLATE_ID=
MIST_SITE_GROUP_1=
MIST_SITE_GROUP_2=
MIST_DHCP_1=
MIST_DHCP_2=
MIST_DHCP_3=
MIST_DNS_1=
MIST_DNS_2=
MIST_NTP_1=
MIST_NTP_2=
MIST_NTP_3=
MIST_PROBE_IP_1=
MIST_PROBE_IP_2=
MIST_DNS_SUFFIX_1=
MIST_DNS_SUFFIX_2=
MIST_TACACS_PLUS_1=
MIST_CORP_WIFI_VLAN=
MIST_GUEST_WIFI_VLAN=
MIST_INT_WAN_INET_1=
MIST_INT_WAN_INET_2=
MIST_INT_WAN_KPN_1=
MIST_INT_LAN_RANGE=
MIST_WL_SSID_0=
MIST_WL_SSID_1=
MIST_WL_SSID_2=
MIST_WL_SSID_3=

SNOWBASEURL=
SNOWUSERNAME=
SNOWPASSWORD=

GOOGLE_GEOCODING_API_KEY=

# Path (relative to project root) to the running-configs git repo.
RUNNING_CONFIGS_REPO_PATH=storage/git-repos/running-configs
